@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UTC Report";
}

@model IEnumerable<CodeCoverageDataModel>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>UTC Report</h2>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <br />
            <input class="form-control" id="myInput" type="text" placeholder="Search Services.." />
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.CoveragePercentage)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.BuildTime)
            </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoveragePercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildTime)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
      });
    });
</script>